doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href='/img/eventManagementFav.png', type="image/x-icon")
    
  body
    nav
      .navbar
        if volunteer 
          a(href='/volunteerHome')=`${volunteer.name} | All Events`  
        else 
          h1 Volunteer Management System | All Events
    
    .all_vol_main_btn
      each event in events
        .all_events_con
              img(src='/img/event.jpg', alt='', height='150', width='250')
              a#all_event_anchor(href=`/event/${event._id}`) 
                .all_events_con_content
                    p
                    b Name : 
                    | #{event.name}
                    //- | p="hellp"
                    p
                    b Place : 
                    |  #{event.place}
                    p
                    b Date : 
                    |  #{event.date}
                    p
                    b Description : 
                    |  #{event.description}
                    p
                    b Start Time :
                    |  #{event.startTime}
                    p
                    b End Time :
                    |  #{event.endTime}
                    p
                    b Organized By :
                    |  #{event.createdBy}
                    p 