doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |  
    title All Volunteer
    link(rel='stylesheet', href='/css/style.css')
    style.
      .main_btn{
      height: 70%;
      }
  body
    nav
      .navbar
        //- a(href='/volunteerHome') Volunteer Management System
        h1 Volunteer Management System | All Events
    
    .all_vol_main_btn
      each event in events
        .all_events_con
              img(src='/img/event.jpg', alt='', height='150', width='250')
              .all_events_con_content
                  p
                  b Name : 
                  | #{event.name}
                  //- | p="hellp"
                  p
                  b Place : 
                  |  #{event.place}
                  p
                  b Date : 
                  |  #{event.date}
                  p
                  b Description : 
                  |  #{event.description}
                  p
                  b Start Time :
                  |  #{event.startTime}
                  p
                  b End Time :
                  |  #{event.endTime}
                  p
                  b Organized By :
                  |  #{event.createdBy}
                  p 