doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |  
    title User Details
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href='/img/eventManagementFav.png', type="image/x-icon")
    
  body
    nav 
      .navbar
        //- a(href='/organizatioHome')= `Welcome ${organization.name}`
        //- h1= `Welcome ${organization.name}`
        h1 Welcome 
        
    .detail_user
      // image side start
      .image_side
        div
          img(src='/img/eventDetails.jpg', alt='')
          //- button#vol_del_btn(data-volid=`${organization._id}`) DELETE
      // image side end
      .contend
        h2 Event details
        hr
        p
          b Name : 
          |  #{event.name}
        hr
        p
          b Place: 
          |  #{event.place}
        hr
        p
          b Date :
          |  #{event.date}
        hr
        p
          b description :
          |  #{event.description}
        hr
        //- p
        //-   b Main Branch :
        //-   | #{event.mainBranch}
        //- hr
//-   script(src="/js/delVol.js") 