doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |  
    title User Details
    link(rel='stylesheet', href='/css/style.css')
    
  body
    nav 
      .navbar
        //- a(href='/organizatioHome')= `Welcome ${organization.name}`
        h1= `Welcome ${organization.name}`
        
    .detail_user
      // image side start
      .image_side
        div
          img(src='/img/company.jpg', alt='')
          //- button#vol_del_btn(data-volid=`${organization._id}`) DELETE
      // image side end
      .contend
        h2 Volunteer details
        hr
        p
          b Name : 
          |  #{organization.name}
        hr
        p
          b Email id: 
          | #{organization.email}
        hr
        p
          b Address :
          | #{organization.address}
        hr
//-   script(src="/js/delVol.js") 