doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href='/img/eventManagementFav.png', type="image/x-icon")
    
  body
    nav 
      .navbar
        a(href='/organizationHome')= `Welcome ${organization.name}`
        //- h1= `Welcome ${organization.name}`
        
    .detail_user
      // image side start
      .image_side
        div
          img(src='/img/company.jpg', alt='')
          //- button#vol_del_btn(data-volid=`${organization._id}`) DELETE
      // image side end
      .contend
        h2 Organization details
        hr
        p
          b Name : 
          |  #{organization.name}
        hr
        p
          b Email id: 
          | #{organization.email}
        hr
        p
          b Current Office Place :
          | #{organization.currentOfficePlace}
        hr
        p
          b Main Branch :
          | #{organization.mainBranch}
        hr
//-   script(src="/js/delVol.js") 