doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |  
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href='/img/eventManagementFav.png', type="image/x-icon")
    style.
      .main_btn{
      height: 70%;
      }
  body
    nav
      .navbar
        a(href='/volunteerHome') Volunteer Management System | Assigned Events
        //- h1 Volunteer Management System | Assigned Events
    
    .all_vol_main_btn
      if(assignedEvents.length == 0)
        h1  No Events assigned to you  
      else 
        each event,i in assignedEvents
          .assigned_events
            img(src='/img/event.jpg', alt='', height='150', width='250')
            a#all_event_anchor(href=`/event/${event._id}`) 
              .all_events_con_content
                  p
                  b Name : 
                  | #{event.name}
                  p
                  b Place : 
                  |  #{event.place}
                  p
                  b Date : 
                  |  #{event.date}
                  p 

            button(id=`${'accept_request'+i}` onclick=`accept('accept_request${i}', '${volunteer._id}', '${event._id}')`) Accept 
            button(id=`${'decline_request'+i}` onclick=`decline('decline_request${i}', '${volunteer._id}', '${event._id}')`) Deline 
  
  script(src="/js/acceptRequest.js") 
  script(src="/js/declineRequest.js") 